openapi: 3.1.0
info:
  title: Deepgram API Specification
  description: |
    Deepgram's voice AI platform provides APIs for speech-to-text, text-to-speech,  and language understanding. From medical transcription to autonomous agents, Deepgram  is the go-to choice for developers of voice AI experiences.
    The Deepgram API allows you to interact with Deepgram programmatically. 
    You can use our API to: - Transcribe speech to text. - Transform text to speech. - Analyze text. - Administer your Deepgram account.
  termsOfService: https://deepgram.com/terms/
  contact:
    email: devrel@deepgram.com
    url: https://community.deepgram.com
    name: Deepgram Developer Relations
  license:
    name: Privacy Notice
    url: https://deepgram.com/privacy/
  version: 1.0.0
servers:
  - url: https://api.deepgram.com
    description: Deepgram Production API
security:
  - Authorization: []
tags:
  - name: Speech to Text
    description: Power your apps with world-class speech recognition
    externalDocs:
      description: Get Started with Speech to Text (Pre-recorded Audio)
      url: https://developers.deepgram.com/docs/pre-recorded-audio
  - name: Audio Intelligence
    description: Analyze audio sources
    externalDocs:
      description: Get Started with Audio Intelligence (Pre-recorded Audio)
      url: https://developers.deepgram.com/docs/audio-intelligence
  - name: Text Intelligence
    description: Analyze the content of text sources
    externalDocs:
      description: Get Started with Text Intelligence
      url: https://developers.deepgram.com/docs/text-intelligence
  - name: Text to Speech
    description: Transform text to speech
    externalDocs:
      description: Get Started with Text to Speech
      url: https://developers.deepgram.com/docs/text-to-speech
externalDocs:
  description: Learn more about using Deepgram on our docs.
  url: http://developers.deepgram.com
paths:
  /v1/listen:
    description: Use Deepgram's speech-to-text API to transcribe and analyze pre-recorded audio.
    externalDocs:
      description: Transcribe & Analyze Audio
      urls:
        local: https://developers.deepgram.com/reference/listen-file
        remote: https://developers.deepgram.com/reference/listen-remote
    post:
      tags:
        - Speech to Text
      summary: Transcribe audio
      operationId: listen
      requestBody:
        description: Transcribe an audio file
        content:
          application/json:
            schema:
              required:
                - url
              type: object
              description: Audio file to transcribe
              properties:
                url:
                  type: string
                  format: uri
                  example: https://dpgr.am/spacewalk.wav
            example:
              url: https://dpgr.am/spacewalk.wav
          file:
            schema:
              type: string
              format: binary
        required: true
      parameters:
        - $ref: '#/components/parameters/callback'
        - $ref: '#/components/parameters/callback_method'
        - $ref: '#/components/parameters/custom_topic'
        - $ref: '#/components/parameters/custom_topic_mode'
        - $ref: '#/components/parameters/custom_intent'
        - $ref: '#/components/parameters/custom_intent_mode'
        - $ref: '#/components/parameters/detect_entities'
        - $ref: '#/components/parameters/detect_language'
        - $ref: '#/components/parameters/diarize_version'
        - $ref: '#/components/parameters/diarize'
        - $ref: '#/components/parameters/dictation'
        - $ref: '#/components/parameters/encoding'
        - $ref: '#/components/parameters/extra'
        - $ref: '#/components/parameters/filler_words'
        - $ref: '#/components/parameters/intents'
        - $ref: '#/components/parameters/keywords'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/measurements'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/multichannel'
        - $ref: '#/components/parameters/numerals'
        - $ref: '#/components/parameters/paragraphs'
        - $ref: '#/components/parameters/profanity_filter'
        - $ref: '#/components/parameters/punctuate'
        - $ref: '#/components/parameters/redact'
        - $ref: '#/components/parameters/replace'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/sentiment'
        - $ref: '#/components/parameters/smart_format'
        - $ref: '#/components/parameters/summarize'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/topics'
        - $ref: '#/components/parameters/utterances'
        - $ref: '#/components/parameters/utt_split'
        - $ref: '#/components/parameters/version'
      responses:
        '200':
          description: Successful transcription
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/response'
        '400':
          $ref: '#/components/responses/bad_request'
      callbacks:
        transcriptionCallback:
          '{$request.query.callback}':
            post:
              requestBody:
                required: true
                content:
                  required: true
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/listen/response'
              responses:
                '200':
                  description: We expect a 200 to determine whether the callback was successfully received.
  /v1/read:
    description: Use Deepgram's speech-to-text API to analyze the content of text sources.
    externalDocs:
      description: Analyze Text
      url: https://developers.deepgram.com/reference/analyze-text
    post:
      tags:
        - Text Intelligence
      summary: Analyze text
      operationId: read
      requestBody:
        description: Analyze a text file
        content:
          application/json:
            schema:
              type: object
              properties:
                url:
                  type: string
                  format: uri
                  description: A URL pointing to the text source
                text:
                  type: string
                  description: The plain text to analyze
                onOf:
                  - required:
                      - url
                  - required:
                      - text
      parameters:
        - $ref: "#/components/parameters/callback"
        - $ref: "#/components/parameters/callback_method"
        # - $ref: "#/components/parameters/custom_topics"
        # - $ref: "#/components/parameters/custom_topics_mode"
        - $ref: "#/components/parameters/intents"
        # - $ref: "#/components/parameters/read/language"
        - $ref: "#/components/parameters/sentiment"
        # - $ref: "#/components/parameters/read/summarize"
        - $ref: "#/components/parameters/topics"
      responses:
        '200':
          description: Successful text analysis
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/text_response'
        '400':
          $ref: '#/components/responses/bad_request'
      callbacks:
        transcriptionCallback:
          '{$request.query.callback}':
            post:
              requestBody:
                required: true
                content:
                  required: true
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/text/response'
            responses:
              '200':
                description: We expect a 200 to determine whether the callback was successfully received
  /v1/speak:
    description: Use Deepgram's Aura text-to-speech API to transform text to speech.
    externalDocs:
      description: Transform Text to Speech
      url: https://developers.deepgram.com/reference/text-to-speech-api
    post:
      tags:
        - Text to Speech
      summary: Transform text to speech
      operationId: speak
      requestBody: null
      description: Transform text to speech
      content:
        application/json: null
        schema: object
        properties:
          text:
            type: string
            description: The text to transform to speech
      parameters:
        # - $ref: "#/components/parameters/speak/batch/bit_rate"
        - $ref: "#/components/parameters/callback"
        # - $ref: "#/components/parameters/speak/batch/container"
        # - $ref: "#/components/parameters/speak/batch/encoding"
        # - $ref: "#/components/parameters/speak/batch/model"
        # - $ref: "#/components/parameters/speak/batch/sample_rate"
      responses:
        '200':
          description: Successful text to speech
          content:
            audio/mpeg:
              schema:
                type: string
                format: binary
            audio/wav:
              schema:
                type: string
                format: binary
            audio/l16;rate=24000:
              schema:
                type: string
                format: binary
            audio/ogg;codecs=opus:
              schema:
                type: string
                format: binary
            audio/flac:
              schema:
                type: string
                format: binary
            audio/acc:
              schema:
                type: string
                format: binary
            audio/mulaw;rate=8000:
              schema:
                type: string
                format: binary
            audio/alaw;rate=8000:
              schema:
                type: string
                format: binary
        '400':
          $ref: '#/components/responses/bad_request'
        '403':
          $ref: '#/components/responses/insufficient_permissions'
        '413':
          $ref: '#/components/responses/payload_too_large'
        '415':
          $ref: '#/components/responses/unsupported_media_type'
      callbacks:
        transcriptionCallback:
          '{$request.query.callback}':
            post:
              requestBody:
                required: true
                content:
                  required: true
                  content:
                    application/json:
                      schema:
                        $ref: '#/components/schemas/speak/speak_response'
            responses:
              '200':
                description: We expect a 200 to determine whether the callback was successfully received
  /v1/projects:
    description: Manage your projects
    get:
      externalDocs:
        description: Get Projects
        url: https://developers.deepgram.com/reference/get-projects
      summary: Retrieves basic information about the projects associated with the API key.
      responses:
        '200':
          '403':
            $ref: #/components/responses/projects/authentication_failed
          description: A list of projects
          content:
            application/json:
              schema:
                type: object
                properties:
                  projects:
                    type: array
                    items:
                      type: object
                      properties:
                        project_id:
                          type: string
                          description: The unique identifier of the project
                        name:
                          type: string
                          description: The name of the project
  /v1/projects/{project_id}:
    description: Manage your projects
    get:
      externalDocs:
        description: Get a Project
        url: https://developers.deepgram.com/reference/get-project
      summary: Retrieves information about the specified project.
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/end'
        - $ref: '#/components/parameters/page'
      responses:
        '200':
          description: A project
          content:
            application/json:
              schema:
                type: object
                properties:
                  project_id:
                    type: string
                    description: The unique identifier of the project
                  name:
                    type: string
                    description: The name of the project
        '400':
          $ref: '#/components/responses/projects_bad_request'
        '403':
          $ref: '#/components/responses/authentication_failed'
        '404':
          $ref: '#/components/responses/project_not_found'
      patch:
        externalDocs:
          description: Update a Project
          url: https://developers.deepgram.com/reference/update-project
        summary: Updates the specified project
        parameters:
          - $ref: #/components/parameters/projects/project_id
        requestBody:
          description: The name of the project
          content:
            application/json:
              schema:
                type: object
                properties:
                  name:
                    type: string
                    description: The name of the project
                example:
                  name: My Project
        responses:
          '200':
            description: A project
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      description: confirmation message
                  example:
                    message: Successfully updated project info.
          '400':
            $ref: #/components/responses/projects/projects_bad_request
          '403':
            $ref: #/components/responses/projects/authentication_failed
          '404':
            $ref: #/components/responses/projects/project_not_found
      delete:
        externalDocs:
          description: Delete a Project
          url: https://developers.deepgram.com/reference/delete-project
        summary: Deletes the specified project
        parameters:
          - $ref: #/components/parameters/projects/project_id
        responses:
          '200':
            description: A project
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      description: confirmation message
                  example:
                    message: Successfully deleted a project.
          '400':
            $ref: #/components/responses/projects/projects_bad_request
          '403':
            $ref: #/components/responses/projects/authentication_failed
          '404':
            $ref: #/components/responses/projects/project_not_found
  /v1/projects/{project_id}/balances:
    description: Manage your project balances
    get:
      externalDocs:
        description: Get Project Balances
        url: https://developers.deepgram.com/reference/get-all-balances
      summary: Generates a list of outstanding balances for the specified project.
      parameters:
        - $ref: '#/components/parameters/project_id'
      responses:
        '200':
          description: A list of outstanding balances
          content:
            application/json:
              schema:
                type: object
                properties:
                  balances:
                    type: array
                    items:
                      type: object
                      properties:
                        balance_id:
                          type: string
                          description: The unique identifier of the balance
                        amount:
                          type: integer
                          default: 0
                          description: The amount of the balance
                        units:
                          type: string
                          description: The units of the balance, such as "USD"
                        purchase_order_id:
                          type: string
                          description: Description or reference of the purchase
              example:
                balances:
                  - balance_id: b123456-7890-1234-5678-901234
                    amount: 250.12
                    units: usd
                    purchase_order_id: b123456-7890-1234-5678-901234
        '400':
          $ref: '#/components/responses/projects_bad_request'
        '403':
          $ref: '#/components/responses/authentication_failed'
        '404':
          $ref: '#/components/responses/project_not_found'
  /v1/projects/{project_id}/balances/{balance_id}:
    description: Manage your project balances
    get:
      externalDocs:
        description: Get a Project Balance
        url: https://developers.deepgram.com/reference/get-balance
      summary: Retrieves details about the specified balance.
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/balance_id'
      responses:
        '200':
          description: A specific balance
          content:
            application/json:
              schema:
                type: object
                properties:
                  balance_id:
                    type: string
                    description: The unique identifier of the balance
                  amount:
                    type: integer
                    default: 0
                    description: The amount of the balance
                  units:
                    type: string
                    description: The units of the balance, such as "USD"
                  purchase_order_id:
                    type: string
                    description: Description or reference of the purchase
              example:
                balance_id: b123456-7890-1234-5678-901234
                amount: 250.12
                units: usd
                purchase_order_id: b123456-7890-1234-5678-901234
        '400':
          $ref: '#/components/responses/projects_bad_request'
        '403':
          $ref: '#/components/responses/authentication_failed'
        '404':
          $ref: '#/components/responses/project_not_found'
  /v1/projects/{project}/models:
    description: Manage your project models
    get:
      externalDocs:
        description: Get Models
        url: https://developers.deepgram.com/reference/get-project-models
      summary: Returns metadata on all the latest models that a specific project has access to, including non-public models.
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/include_outdated'
      responses:
        '200':
          description: A list of models
          content:
            application/json:
              schema:
                type: object
                properties:
                  stt:
                    type: array
                    items:
                      $ref: '#/components/schemas/stt_models'
                  tts:
                    type: array
                    items:
                      $ref: '#/components/schemas/tts_models'
        '400':
          $ref: '#/components/responses/projects_bad_request'
  /v1/projects/{project}/models/{model_id}:
    description: Manage your project models
    get:
      externalDocs:
        description: Get a Project Model
        url: https://developers.deepgram.com/reference/get-project-model
      summary: Returns metadata for a specific model.
      parameters:
        - $ref: '#/components/parameters/model_id'
    responses:
      '200':
        description: A specific model
        content:
          application/json:
            oneOf:
              - $ref: #/components/schemas/models/stt_models
              - $ref: #/components/schemas/models/tts_models
      '400':
        $ref: #/components/responses/projects/projects_bad_request
  /v1/projects/{project_id}/keys:
    description: Manage your project keys
    get:
      externalDocs:
        description: Get Project Keys
        url: https://developers.deepgram.com/reference/list-keys
      summary: Returns a list of API keys for a specific project.
      parameters:
        - $ref: '#/components/parameters/project_id'
    responses:
      '200': null
      '403':
        $ref: #/components/responses/projects/authentication_failed
      '404':
        $ref: #/components/responses/projects/project_not_found
      description: A list of API keys
      content:
        application/json:
          schema:
            type: object
            properties:
              type: array
              items:
                $ref: #/components/schemas/keys/keys
      post:
        externalDocs:
          description: Create a Project Key
          url: https://developers.deepgram.com/reference/create-key
        summary: Creates a new API key for a specific project.
        parameters:
          - $ref: #/components/parameters/projects/project_id
      requestBody:
        description: The API key settings
        content:
          application/json:
            schema: null
            type: object
            properties:
              comment:
                type: string
                description: A comment for the API key
              scopes:
                type: array
                description: The scopes for the API key
                items:
                  type: string
              tags:
                type: array
                description: The tags for the API key
                items:
                  type: string
              expiration_date:
                type: date
                description: The expiration date for the API key
              time_to_live_in_seconds:
                type: integer
                description: The time to live in seconds for the API key
            example:
              comment: A comment
              scopes: admin
              tags: tag-1
              expiration_date: '2024-05-01T00:00:00.000000Z'
              time_to_live_in_seconds: '3600'
      responses:
        '200':
          $ref: #/components/responses/keys/key_created
        '403':
          $ref: #/components/responses/projects/authentication_failed
        '404':
          $ref: #/components/responses/projects/project_not_found
      delete:
        externalDocs:
          description: Delete a Project Key
          url: https://developers.deepgram.com/reference/delete-key
        summary: Deletes an API key for a specific project.
        parameters:
          - $ref: #/components/parameters/projects/project_id
          - $ref: #/components/parameters/projects/key_id
        responses:
          '200':
            description: API key deleted
            content: null
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: A message indicating that the API key was deleted
                example:
                  message: Successfully deleted the API key!
          '403':
            $ref: #/components/responses/projects/authentication_failed
          '404':
            $ref: #/components/responses/projects/project_not_found
  /v1/projects/{project_id}/keys/{key_id}/keys:
    description: Manage your project keys
    get:
      externalDocs:
        description: Get a Project Key
        url: https://developers.deepgram.com/reference/get-key
      summary: Retrieves information about a specified API key,
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/key_id'
    responses:
      '200': null
      '403':
        $ref: #/components/responses/projects/authentication_failed
      '404':
        $ref: #/components/responses/projects/project_not_found
      description: A specific API key
      content:
        application/json:
          schema:
            type: object
            properties:
              item:
                $ref: #/components/schemas/keys/key
  /v1/projects/{project_id}/members:
    description: Manage your project members
    get:
      externalDocs:
        description: Get Project Members
        url: https://developers.deepgram.com/reference/get-members
      summary: Retrieves a list of account objects for a specific project.
      responses:
        '200':
          description: A list of account objects
          content:
            application/json:
              schema:
                type: object
                properties:
                  members: null
                  type: array
                  items:
                    type: object
                    properties:
                      member_id:
                        type: string
                        description: The unique identifier of the member
                        scopes:
                          type: array
                          description: The API scopes of the member
                        email:
                          type: string
                          first_name:
                            type: string
                          last_name:
                            type: string
        '403':
          $ref: '#/components/responses/authentication_failed'
        '404':
          $ref: '#/components/responses/project_not_found'
  /v1/projects/{project_id}/members/{member_id}:
    description: Manage your project members
    delete:
      externalDocs:
        description: Remove a Project Member
        url: https://developers.deepgram.com/reference/remove-member
      summary: Removes the specified member from a project.
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/member_id'
      responses:
        '200':
          '403':
            $ref: #/components/responses/projects/authentication_failed
          '404':
            $ref: #/components/responses/projects/project_not_found
          description: Delete the specific member from the project
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: confirmation message
                example:
                  message: Successfully removed account from project.
  /v1/projects/{project_id}/members/{member_id}/scopes:
    description: Manage your project members
    get:
      externalDocs:
        description: Get Project Member Scopes
        url: https://developers.deepgram.com/reference/get-member-scopes
      summary: Retrieves a list of scopes for a specific member.
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/member_id'
      responses:
        '200':
          description: A list of scopes for a specific member
          content:
            application/json:
              schema:
                type: object
                properties: null
                scopes:
                  type: array
                  description: The API scopes of the member
        '403':
          $ref: '#/components/responses/authentication_failed'
        '404':
          $ref: '#/components/responses/project_not_found'
    put:
      externalDocs:
        description: Update a Project Member's Scopes
        url: https://developers.deepgram.com/reference/update-scope
      summary: Updates the scopes for a specific member.
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/member_id'
      requestBody:
        description: A scope to update
        content:
          application/json:
            schema:
              type: object
              properties:
                scope:
                  type: string
                  description: A scope to update
                example: admin
      responses:
        '200': null
        description: Updated the scopes for a specific member
        content: null
        application/json:
          '403':
            $ref: #/components/responses/projects/authentication_failed
          '404':
            $ref: #/components/responses/projects/project_not_found
          schema:
            type: object
            properties:
              message:
                type: string
                description: confirmation message
            example: Successfully updated the account scopes.
  /v1/projects/{project_id}/invites:
    description: Manage your project invites
    get:
      externalDocs:
        description: Get Project Invites
        url: https://developers.deepgram.com/reference/list-invites
      summary: Generates a list of invites for a specific project
      parameters:
        - $ref: '#/components/parameters/project_id'
      responses:
        '200':
          description: A list of invites for a specific project
          content:
            application/json:
              schema:
                type: object
                properties:
                  invites:
                    type: array
                    properties:
                      email:
                        type: string
                        description: The email address of the invitee
                      scope: null
                      type: string
                      description: The scope of the invitee
      post:
        '400':
          $ref: #/components/responses/projects/invalid_request
        '401':
          $ref: #/components/responses/projects/unauthorized
        '403':
          $ref: #/components/responses/projects/authentication_failed
        '404':
          $ref: #/components/responses/projects/project_not_found
        externalDocs:
          description: Send a Project Invite
          url: https://developers.deepgram.com/reference/send-invites
        summary: Generates an invite for a specific project
        parameters:
          - $ref: #/components/parameters/projects/project_id
        requestBody:
          description: email to invite to the project
          content:
            application/json:
              schema:
                type: object
              properties: null
              email:
                type: string
                description: The email address of the invitee
              scope:
                type: string
                description: The scope of the invitee
        responses:
          '200':
            description: The invite was successfully generated
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    message:
                      type: string
                      description: confirmation message
  /v1/projects/{project_id}/invites/{email}:
    description: Manage your project invites
    delete:
      externalDocs:
        description: Delete a Project Invite
        url: https://developers.deepgram.com/reference/delete-invite
      summary: Deletes an invite for a specific project
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/email'
      responses:
        '200':
          description: The invite was successfully deleted
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: null
                  type: string
                  description: confirmation message
        '400':
          $ref: '#/components/responses/invalid_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/authentication_failed'
        '404':
          $ref: '#/components/responses/project_not_found'
  /v1/projects/{project_id}/leave:
    description: Manage your project accounts
    delete:
      externalDocs:
        description: Leave a Project
        url: https://developers.deepgram.com/reference/leave-project
      summary: Removes the authenticated account from the specific project
      parameters:
        - $ref: '#/components/parameters/project_id'
      responses:
        '200':
          description: Successfully removed account from project
          content:
            application/json:
              schema:
                type: object
                properties:
                  message: null
                  type: string
                  description: confirmation message
        '400':
          $ref: '#/components/responses/invalid_request'
        '401':
          $ref: '#/components/responses/unauthorized'
        '403':
          $ref: '#/components/responses/authentication_failed'
        '404':
          $ref: '#/components/responses/project_not_found'
  /v1/projects/{project_id}/requests:
    description: Manage your project requests
    get:
      externalDocs:
        description: Get Project Requests
        url: https://developers.deepgram.com/reference/get-all-requests
      summary: Generates a list of requests for a specific project
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/end'
        - $ref: '#/components/parameters/limit'
        - $ref: '#/components/parameters/page'
    responses:
      '200':
        description: A list of requests for a specific project
        content: null
        application/json:
          schema:
            type: object
            properties:
              page:
                type: int
                description: The page number of the paginated response
              limit:
                type: int
                description: The number of results per page
              requests:
                type: array
                items:
                  $ref: #/components/responses/request
      '400':
        $ref: #/components/responses/projects/projects_bad_request
      '403':
        $ref: #/components/responses/projects/authentication_failed
  /v1/projects/{project_id}/requests/{request_id}:
    description: Manage your project requests
    get:
      externalDocs:
        description: Get a Project Request
        url: https://developers.deepgram.com/reference/get-request
      summary: Retrieves a specific request for a specific project
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/request_id'
    responses:
      '200':
        description: A specific request for a specific project
        content: null
        application/json:
          schema:
            type: object
            properties:
              request:
                type: object
                $ref: #/components/responses/request
  /v1/projects/{project_id}/usage:
    description: Manage your project usage
    get:
      externalDocs:
        description: Get Project Usage
        url: https://developers.deepgram.com/reference/summarize-usage
      summary: Retrieves the usage for a specific project
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/end'
        - $ref: '#/components/parameters/callback_method'
        - $ref: '#/components/parameters/callback'
        - $ref: '#/components/parameters/channels'
        - $ref: '#/components/parameters/custom_intent_mode'
        - $ref: '#/components/parameters/custom_intent'
        - $ref: '#/components/parameters/custom_topic_mode'
        - $ref: '#/components/parameters/custom_topic'
        - $ref: '#/components/parameters/detect_entities'
        - $ref: '#/components/parameters/detect_language'
        - $ref: '#/components/parameters/diarize'
        - $ref: '#/components/parameters/diarize_version'
        - $ref: '#/components/parameters/dictation'
        - $ref: '#/components/parameters/detect_entities'
        - $ref: '#/components/parameters/detect_language'
        - $ref: '#/components/parameters/detect_topics'
        - $ref: '#/components/parameters/encoding'
        - $ref: '#/components/parameters/extra'
        - $ref: '#/components/parameters/filler_words'
        - $ref: '#/components/parameters/intents'
        - $ref: '#/components/parameters/keywords'
        - $ref: '#/components/parameters/language'
        - $ref: '#/components/parameters/measurements'
        - $ref: '#/components/parameters/model'
        - $ref: '#/components/parameters/multichannel'
        - $ref: '#/components/parameters/numerals'
        - $ref: '#/components/parameters/paragraphs'
        - $ref: '#/components/parameters/profanity_filter'
        - $ref: '#/components/parameters/punctuate'
        - $ref: '#/components/parameters/redact'
        - $ref: '#/components/parameters/replace'
        - $ref: '#/components/parameters/sample_rate'
        - $ref: '#/components/parameters/smart_format'
        - $ref: '#/components/parameters/search'
        - $ref: '#/components/parameters/sentiment'
        - $ref: '#/components/parameters/summarize'
        - $ref: '#/components/parameters/tag'
        - $ref: '#/components/parameters/topics'
        - $ref: '#/components/parameters/utterances'
        - $ref: '#/components/parameters/utt_split'
        - $ref: '#/components/parameters/version'
    responses:
      '200':
        $ref: #/components/responses/projects/usage
      '400':
        $ref: #/components/responses/projects/invalid_request
      '401':
        $ref: #/components/responses/projects/unauthorized
      '403':
        $ref: #/components/responses/projects/authentication_failed
      '404':
        $ref: #/components/responses/projects/project_not_found
  /v1/projects/{project_id}/usage/fields:
    description: Manage your project usage
    get:
      '400':
        $ref: #/components/responses/projects/invalid_request
      '401':
        $ref: #/components/responses/projects/unauthorized
      '403':
        $ref: #/components/responses/projects/authentication_failed
      '404':
        $ref: #/components/responses/projects/project_not_found
      externalDocs:
        description: Get Project Usage Fields
        url: https://developers.deepgram.com/reference/get-fields
      summary: Lists the features, models, tags, languages, and processing method used for requests in the specified project
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/end'
      responses:
        '200':
          $ref: '#/components/responses/fields'
  /v1/projects/{project_id}/purchases:
    description: Manage your project purchases
    get:
      externalDocs:
        description: Get Project Purchases
        url: https://developers.deepgram.com/reference/get-purchases
      summary: Returns the original purchased amount on an order transaction
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/start'
        - $ref: '#/components/parameters/limit'
  /v1/models:
    description: Manage your project models
    get:
      externalDocs:
        description: Get Models
        url: https://developers.deepgram.com/reference/get-models
      summary: Returns metadata on all the latest public models
      parameters:
        - $ref: '#/components/parameters/include_outdated'
      responses:
        '200':
          $ref: '#/components/responses/all_models'
        '400':
          $ref: '#/components/responses/projects_bad_request'
  /v1/models/{model_id}:
    description: Manage your project models
    get:
      externalDocs:
        description: Get a Model
        url: https://developers.deepgram.com/reference/get-model
      summary: Returns metadata for a specific model
      parameters:
        - $ref: '#/components/parameters/model_uuid'
      responses:
        '200':
          - $ref: #/components/responses/models/model
        '400':
          $ref: '#/components/responses/projects_bad_request'
  /v1/projects/{project_id}/self-hosted/distribution/credentials:
    description: Returns sets of distribution credentials for the specified project
    get:
      externalDocs:
        description: Get Project Self-Hosted Distribution Credentials
        url: https://developers.deepgram.com/reference/list-credentials
      summary: Lists sets of distribution credentials for the specified project
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/project_id'
      responses:
        '200':
          $ref: '#/components/responses/credentials'
        '403':
          $ref: '#/components/responses/authentication_failed'
        '404':
          $ref: '#/components/responses/project_not_found'
      post:
        externalDocs:
          description: Create a Project Self-Hosted Distribution Credential
          url: https://developers.deepgram.com/reference/create-credentials
        summary: Creates a set of distribution credentials for the specified project
        security:
          - Authorization: []
        parameters:
          - $ref: #/components/parameters/projects/project_id
          - $ref: #/components/parameters/projects/distribution_comment
          - $ref: #/components/parameters/projects/distribution_scopes
          - $ref: #/components/parameters/projects/distribution_provider
        requestBody:
          description: The set of distribution credentials to create
          content:
            application/json:
              schema:
                type: object
                properties:
                  comment:
                    type: string
  /v1/projects/{project_id}/self-hosted/distribution/credentials/{distribution_credentials_id}:
    description: Returns a single set of distribution credentials for the specified project
    get:
      externalDocs:
        description: Get a Project Self-Hosted Distribution Credential
        url: https://developers.deepgram.com/reference/get-credentials
      summary: Returns a set of distribution credentials for the specified project
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/distribution_credentials_id'
      responses:
        '200':
          $ref: '#/components/responses/credential'
        '403':
          $ref: '#/components/responses/authentication_failed'
        '404':
          $ref: '#/components/responses/project_not_found'
    delete:
      externalDocs:
        description: Delete a Project Self-Hosted Distribution Credential
        url: https://developers.deepgram.com/reference/delete-credentials
      summary: Deletes a set of distribution credentials for the specified project
      security:
        - Authorization: []
      parameters:
        - $ref: '#/components/parameters/project_id'
        - $ref: '#/components/parameters/distribution_credentials_id'
      responses:responses:
        '200':
          $ref: #/components/responses/projects/credential
        '403':
          $ref: #/components/responses/projects/authentication_failed
        '404':
          $ref: #/components/responses/projects/project_not_found
components:
  securitySchemes:
    Authorization:
      type: apiKey
      in: header
      name: Authorization
      description: Specify the token value with the `Token ` prefix, e.g. "Token DEEPGRAM_API_KEY".
  parameters:
    callback:
      name: callback
      in: query
      required: false
      externalDocs:
        description: Callback
        urls:
          stt: https://developers.deepgram.com/docs/callback
          tts: https://developers.deepgram.com/docs/tts-callback
          ttt: https://developers.deepgram.com/docs/text-intelligence-callback
      description: URL to which we'll make the callback request
      schema:
        type: string
      example: https://example.com
    callback_method:
      name: callback_method
      in: query
      required: false
      externalDocs:
        description: Callback Method
        urls:
          stt: https://developers.deepgram.com/docs/callback#using-callback_method
          tts: https://developers.deepgram.com/docs/tts-callback#using-callback_method
          ttt: https://developers.deepgram.com/docs/text-intelligence-callback#using-callback_method
      description: HTTP method by which the callback request will be made
      schema:
        default: POST
        enum:
          - POST
          - PUT
      example: PUT
    custom_topic:
      name: custom_topic
      in: query
      required: false
      externalDocs:
        description: Custom Topic
        url: https://developers.deepgram.com/docs/topic-detection
      description: Custom topics you want the model to detect within your input audio or text if present Submit up to 100
      style: form
      explode: true
      schema:
        oneOf:
          - type: string
          - type: array
            items:
              type: string
            maxItems: 100
      example:
        - unsubscribe
        - account%20deletion
    custom_topic_mode:
      name: custom_topic_mode
      in: query
      required: false
      externalDocs:
        description: Custom Topic Mode
        url: https://developers.deepgram.com/docs/topic-detection
      description: Sets how the model will interpret strings submitted to the `custom_topic` param. When `strict`, the model will only return topics submitted using the `custom_topic` param. When `extended`, the model will return its own detected topics in addition to those submitted using the `custom_topic` param
      schema:
        default: extended
        type: string
        enum:
          - extended
          - strict
      example: strict
    custom_intent:
      name: custom_intent
      in: query
      required: false
      externalDocs:
        description: Custom Intents
        url: https://developers.deepgram.com/docs/intent-recognition
      description: Custom intents you want the model to detect within your input audio if present
      style: form
      explode: true
      schema:
        oneOf:
          - type: string
            example: unsubscribe
          - type: array
            items:
              type: string
              maxItems: 100
              example:
                - unsubscribe
                - account deletion
    custom_intent_mode:
      name: custom_intent_mode
      in: query
      required: false
      externalDocs:
        description: Custom Intent Mode
        url: https://developers.deepgram.com/docs/intent-recognition
      description: Sets how the model will interpret intents submitted to the `custom_intent` param. When `strict`, the model will only return intents submitted using the `custom_intent` param. When `extended`, the model will return its own detected intents in addition those submitted using the `custom_intents` param
      schema:
        default: extended
        type: string
        enum:
          - extended
          - strict
      example: strict
    detect_entities:
      name: detect_entities
      in: query
      required: false
      externalDocs:
        description: Detect Entities
        url: https://developers.deepgram.com/docs/detect-entities
      description: Identifies and extracts key entities from content in submitted audio
      schema:
        default: false
        type: boolean
      example: true
    detect_language:
      name: detect_language
      in: query
      required: false
      externalDocs:
        description: Detect Language
        url: https://developers.deepgram.com/docs/language-detection
      description: Identifies the dominant language spoken in submitted audio
      style: form
      explode: true
      schema:
        oneOf:
          - type: boolean
            default: false
            example: true
          - type: array
            items:
              type: string
              example:
                - en
                - fr
    diarize_version:
      name: diarize_version
      in: query
      required: false
      description: Version of the diarization feature to use. Only used when the diarization feature is enabled (`diarize=true` is passed to the API)
      externalDocs:
        description: Diarization Version
        url: https://developers.deepgram.com/docs/diarization
      default: v2
      schema:
        type: string
      example: v2
    diarize:
      name: diarize
      in: query
      required: false
      externalDocs:
        description: Diarization
        url: https://developers.deepgram.com/docs/diarization
      description: Recognize speaker changes. Each word in the transcript will be assigned a speaker number starting at 0
      schema:
        default: false
        type: boolean
      example: true
    dictation:
      name: dictation
      in: query
      required: false
      externalDocs:
        description: Dictation
        url: https://developers.deepgram.com/docs/dictation
      description: Identify and extract key entities from content in submitted audio
      schema:
        default: false
        type: boolean
        example: true
    encoding:
      name: encoding
      in: query
      required: false
      externalDocs:
        description: Encoding
        url: https://developers.deepgram.com/docs/encoding
      description: Specify the expected encoding of your submitted audio
      schema:
        type: string
        enum:
          - linear16
          - flac
          - mulaw
          - amr-nb
          - amr-wb
          - opus
          - speex
          - g729
      example: linear16
    extra:
      name: extra
      in: query
      required: false
      externalDocs:
        description: Extra Metadata
        url: https://developers.deepgram.com/docs/extra-metadata
      description: Arbitrary key-value pairs that are attached to the API response for usage in downstream processing
      style: form
      explode: true
      schema:
        oneOf:
          - type: string
          - type: array
            items:
              type: string
      example:
        - key:value
        - user:1234567890
    filler_words:
      name: filler_words
      in: query
      required: false
      externalDocs:
        description: Filler Words
        url: https://developers.deepgram.com/docs/filler-words
      description: Filler Words can help transcribe interruptions in your audio, like "uh" and "um"
      schema:
        default: false
        type: boolean
      example: true
    intents:
      name: intents
      in: query
      required: false
      externalDocs:
        description: Intents
        url: https://developers.deepgram.com/docs/intent-recognition
      description: Recognizes speaker intent throughout a transcript or text
      schema:
        default: false
        type: boolean
      example:
        - true
    keywords:
      name: keywords
      in: query
      required: false
      externalDocs:
        description: Keywords
        url: https://developers.deepgram.com/docs/keywords
      description: Keywords can boost or suppress specialized terminology and brands
      style: form
      explode: true
      schema:
        oneOf:
          - type: string
          - type: array
            items:
              type: string
      example:
        - Twilio:2
        - Algolia
    language:
      name: language
      in: query
      required: false
      externalDocs:
        description: STT Language Support
        url: https://developers.deepgram.com/docs/language
      description: The [BCP-47 language tag](https://tools.ietf.org/html/bcp47) that hints at the primary spoken language
      schema:
        default: en
        oneOf:
          - type: string
            title: Nova 2 model languages
            enum:
              - bg
              - ca
              - cz
              - da
              - da-DK
              - nl
              - en
              - en-US
              - en-AU
              - en-GB
              - en-NZ
              - en-IN
              - et
              - fi
              - nl-BE
              - fr
              - fr-CA
              - de
              - de-CH
              - el
              - hi
              - hi-Latn
              - hu
              - id
              - it
              - ja
              - ko
              - ko-KR
              - lv
              - lt
              - ms
              - 'no'
              - pl
              - pt
              - pt-BR
              - ro
              - ru
              - sk
              - es
              - es-419
              - sv
              - sv-SE
              - th
              - th-TH
              - tr
              - uk
              - vi
          - type: string
            title: Nova model languages
            enum:
              - en
              - en-US
              - en-AU
              - en-GB
              - en-NZ
              - en-IN
              - es
              - es-419
          - type: string
            title: Enhanced model languages
            description: Recommended for lower word error rates than Base, high accuracy timestamps, and use cases that require keyword boosting.
            enum:
              - da
              - nl
              - en
              - en-US
              - nl
              - fr
              - de
              - hi
              - hi-Latn
              - id
              - it
              - ja
              - ko
              - 'no'
              - pl
              - pt
              - pt-BR
              - ru
              - es
              - es-419
              - es-LATAM
              - sv
              - taq
              - tr
              - uk
          - type: string
            title: Base model languages.
            description: Recommended for large transcription volumes and high accuracy timestamps.
            enum:
              - zh
              - zh-CN
              - zh-TW
              - da
              - nl
              - en
              - en-US
              - nl
              - fr
              - fr-CA
              - de
              - hi
              - hi-Latn
              - id
              - it
              - ja
              - ko
              - 'no'
              - pl
              - pt
              - pt-BR
              - ru
              - es
              - es-419
              - es-LATAM
              - sv
              - taq
              - tr
              - uk
      example:
        - en
    measurements:
      name: measurements
      in: query
      required: false
      externalDocs:
        description: Measurements
        url: https://developers.deepgram.com/docs/measurements
      description: Spoken measurements will be converted to their corresponding abbreviations
      schema:
        default: false
        type: boolean
      example: true
    model:
      name: model
      in: query
      required: false
      externalDocs:
        description: STT Models & Languages
        url: https://developers.deepgram.com/docs/models-languages-overview
      description: AI model used to process submitted audio
      schema:
        default: base-general
        oneOf:
          - type: string
            description: Our public models available to all accounts
            enum:
              - nova-2
              - nova-2-general
              - nova-2-meeting
              - nova-2-finance
              - nova-2-conversationalai
              - nova-2-voicemail
              - nova-2-video
              - nova-2-medical
              - nova-2-drivethru
              - nova-2-automotive
              - nova
              - nova-general
              - nova-phonecall
              - nova-medical
              - enhanced
              - enhanced-general
              - enhanced-meeting
              - enhanced-phonecall
              - enhanced-finance
              - base
              - meeting
              - phonecall
              - finance
              - conversationalai
              - voicemail
              - video
          - type: string
            description: Custom string if you've had a model trained by Deepgram
      example:
        - nova-2
    multichannel:
      name: multichannel
      in: query
      required: false
      externalDocs:
        description: Multichannel
        url: https://developers.deepgram.com/docs/multichannel
      description: Transcribe each audio channel independently
      schema:
        default: false
        type: boolean
      example: true
    numerals:
      name: numerals
      in: query
      required: false
      externalDocs:
        description: Numerals
        url: https://developers.deepgram.com/docs/numerals
      description: Numerals converts numbers from written format to numerical format
      schema:
        default: false
        type: boolean
      example: true
    paragraphs:
      name: paragraphs
      in: query
      required: false
      externalDocs:
        description: Paragraphs
        url: https://developers.deepgram.com/docs/paragraphs
      description: Splits audio into paragraphs to improve transcript readability
      x-dg-description: Paragraphs are defined as groups of words that are separated by pauses in the audio. This is done in the following ways; - When Paragraphs is enabled, the `punctuate` feature is enabled by default, and paragraphs are identified based on the transcript's punctuation - When the `diarize` feature is enabled and multiple speakers are present, paragraphs breaks are influenced by speaker changes - When the `multichannel` feature is enabled, paragraphs breaks are influenced by channel changes
      schema:
        default: false
        type: boolean
      example: true
    profanity_filter:
      name: profanity_filter
      in: query
      required: false
      externalDocs:
        description: Profanity Filter
        url: https://developers.deepgram.com/docs/profanity-filter
      description: Profanity Filter looks for recognized profanity and converts it to the nearest recognized non-profane word or removes it from the transcript completely
      schema:
        default: false
        type: boolean
      example:
        - true
    punctuate:
      name: punctuate
      in: query
      required: false
      externalDocs:
        description: Punctuation
        url: https://developers.deepgram.com/docs/punctuation
      description: Add punctuation and capitalization to the transcript
      schema:
        default: false
        type: boolean
      example: true
    redact:
      name: redact
      in: query
      required: false
      externalDocs:
        description: Redaction
        url: https://developers.deepgram.com/docs/redaction
      description: Redaction removes sensitive information from your transcripts
      style: form
      explode: true
      schema:
        default: false
        oneOf:
          - type: string
          - type: array
            items:
              type: string
              enum:
                - pci
                - pii
                - numbers
            maxItems: 100
      example:
        - pii
        - pci
    replace:
      name: replace
      in: query
      required: false
      externalDocs:
        description: Replace
        url: https://developers.deepgram.com/docs/find-and-replace
      description: Search for terms or phrases in submitted audio and replaces them
      style: form
      explode: true
      schema:
        oneOf:
          - type: string
          - type: array
            items:
              type: string
      example:
        - monika:Monica
        - jon:John
    search:
      name: search
      in: query
      required: false
      externalDocs:
        description: Search
        url: https://developers.deepgram.com/docs/search
      description: Search for terms or phrases in submitted audio
      style: form
      explode: true
      schema:
        oneOf:
          - type: string
          - type: array
            items:
              type: string
      example:
        - Deepgram
        - Text to Speech
    sentiment:
      name: sentiment
      in: query
      required: false
      externalDocs:
        description: Sentiment
        url: https://developers.deepgram.com/docs/sentiment-analysis
      description: Recognizes the sentiment throughout a transcript or text
      schema:
        default: false
        type: boolean
      example:
        - true
    smart_format:
      name: smart_format
      in: query
      required: false
      externalDocs:
        description: Smart Format
        url: https://developers.deepgram.com/docs/smart-format
      description: Apply formatting to transcript output. When set to true, additional formatting will be applied to transcripts to improve readability
      schema:
        default: false
        type: boolean
      example: true
    summarize:
      name: summarize
      in: query
      required: false
      externalDocs:
        description: Summarize
        url: https://developers.deepgram.com/docs/summarization
      description: Summarize content
      schema:
        default: false
        oneOf:
          - title: Versions
            type: string
            enum:
              - v2
              - v1
          - title: Legacy
            type: boolean
      example:
        - v2
    tag:
      name: tag
      in: query
      required: false
      externalDocs:
        description: Tag
        url: https://developers.deepgram.com/docs/tagging
      description: Label your requests for the purpose of identification during usage reporting
      style: form
      explode: true
      schema:
        oneOf:
          - type: string
          - type: array
            items:
              type: string
      example:
        - test
    topics:
      name: topics
      in: query
      required: false
      externalDocs:
        description: Topics
        url: https://developers.deepgram.com/docs/topic-detection
      description: Detect topics throughout a transcript or text
      schema:
        default: false
        type: boolean
      example:
        - true
    utterances:
      name: utterances
      in: query
      required: false
      externalDocs:
        description: Utterances
        url: https://developers.deepgram.com/docs/utterances
      description: Segments speech into meaningful semantic units
      schema:
        default: false
        type: boolean
      example: true
    utt_split:
      name: utt_split
      in: query
      required: false
      externalDocs:
        description: Utterance Split
        url: https://developers.deepgram.com/docs/utterance-split
      description: Seconds to wait before detecting a pause between words in submitted audio
      schema:
        default: 0.8
        type: number
      example:
        - 1.2
    version:
      name: version
      in: query
      required: false
      externalDocs:
        description: STT Models
        url: https://developers.deepgram.com/docs/version
      description: Version of an AI model to use
      schema:
        default: latest
        oneOf:
          - type: string
            description: Use the latest version of a model
            enum:
              - latest
          - type: string
            description: Use a previous version of a model
      example:
        - latest
    project_id:
      name: project_id
      in: path
      required: true
      description: The unique identifier of the project
      schema:
        type: string
      example: 123456-7890-1234-5678-901234
    limit:
      name: limit
      in: query
      required: false
      description: Number of results to return per page. Default 10. Range [1,1000]
      schema:
        type: integer
        default: 10
        minimum: 1
        maximum: 1000
      example: 10
    start:
      name: start
      in: query
      required: false
      description: Start date of the requested date range. Formats accepted are YYYY-MM-DD, YYYY-MM-DDTHH:MM:SS, or YYYY-MM-DDTHH:MM:SS+HH:MM
      schema:
        type: string
        format: date
      example: '2024-07-01T00:00:00'
    end:
      name: end
      in: query
      required: false
      description: End date of the requested date range. Formats accepted are YYYY-MM-DD, YYYY-MM-DDTHH:MM:SS, or YYYY-MM-DDTHH:MM:SS+HH:MM
      schema:
        type: string
      format: date
      example: '2024-07-31T00:00:00'
    page:
      name: page
      in: query
      required: false
      description: Navigate and return the results to retrieve specific portions of information of the response
      schema:
        type: integer
      example: 10
    balance_id:
      name: balance_id
      in: path
      required: true
      description: The unique identifier of the balance
      schema:
        type: string
      example: 123456-7890-1234-5678-901234
    include_outdated:
      name: include_outdated
      in: query
      required: true
      description: returns non-latest versions of models
      schema:
        type: boolean
      example: true
    model_id:
      name: model_id
      in: path
      required: true
      description: The specific UUID of the model
      schema:
        type: string
      example: af6e9977-99f6-4d8f-b6f5-dfdf6fb6e291
    key_id:
      name: key_id
      in: path
      required: true
      description: The unique identifier of the API key
      schema:
        type: string
      example: '123456789012345678901234'
    member_id:
      name: member_id
      in: path
      required: true
      description: The unique identifier of the Member
      schema:
        type: string
      example: '123456789012345678901234'
    email:
      name: email
      in: path
      required: true
      description: The email address of the member
      schema:
        type: string
      example: john.doe@example.com
    request_id:
      name: request_id
      in: path
      required: true
      description: The unique identifier of the request
      schema:
        type: string
      example: 123456-7890-1234-5678-901234
    channels:
      name: channels
      in: query
      required: false
      description: The number of channels in the submitted audio
      externalDocs:
        description: Channels
        url: https://developers.deepgram.com/docs/channels
      default: 1
      schema:
        type: integer
        format: int32
      example: 2
    detect_topics:
      name: detect_topics
      in: query
      required: false
      externalDocs:
        description: Detect Topics
        url: https://developers.deepgram.com/docs/topic-detection
      description: Identify and extract key topics
      schema:
        default: false
        type: boolean
      example: true
    sample_rate:
      name: sample_rate
      in: query
      required: false
      externalDocs:
        description: Sample Rate
        url: https://developers.deepgram.com/docs/sample-rate
      description: Sample rate of submitted audio. Required (and only read) when a value is provided for encoding
      default: 1
      schema:
        type: integer
        format: int32
      example: 8000
    model_uuid:
      name: model_uuid
      in: query
      required: true
      description: The specific UUID of the model
      schema:
        type: string
        format: uuid
      example: c7226e9e-ae1c-4057-ae2a-a71a6b0dc588
    distribution_credentials_id:
      name: distribution_credentials_id
      in: path
      required: true
      description: The UUID of the distribution credentials
      schema:
        type: string
      example: 8b36cfd0-472f-4a21-833f-2d6343c3a2f3
  schemas:
    metadata:
      required:
        - request_id
        - sha256
        - created
        - duration
        - channels
        - models
        - model_info
      type: object
      properties:
        transaction_key:
          type: string
          default: deprecated
          deprecated: true
        request_id:
          type: string
          format: uuid
          example: a847f427-4ad5-4d67-9b95-db801e58251c
        sha256:
          type: string
          example: 154e291ecfa8be6ab8343560bcc109008fa7853eb5372533e8efdefc9b504c33
        created:
          type: string
          format: date-time
          example: '2024-05-12T18:57:13.426Z'
        duration:
          type: number
          example: 25.933313
        channels:
          type: number
          example: 1
        models:
          type: array
          items:
            type: string
          example:
            - 30089e05-99d1-4376-b32e-c263170674af
        model_info:
          type: object
          patternProperties:
            ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}$:
              type: object
              properties:
                name:
                  type: string
                version:
                  type: string
                arch:
                  type: string
          additionalProperties: false
          example:
            30089e05-99d1-4376-b32e-c263170674af:
              name: 2-general-nova
              version: 2024-01-09.29447
              arch: nova-2
        summary_info:
          type: object
          properties:
            model_uuid:
              type: string
              example: 67875a7f-c9c4-48a0-aa55-5bdb8a91c34a
            input_tokens:
              type: number
              example: 95
            output_tokens:
              type: number
              example: 63
        sentiment_info:
          type: object
          properties:
            model_uuid:
              type: string
              example: 80ab3179-d113-4254-bd6b-4a2f96498695
            input_tokens:
              type: number
              example: 105
            output_tokens:
              type: number
              example: 105
        topics_info:
          type: object
          properties:
            model_uuid:
              type: string
              example: 80ab3179-d113-4254-bd6b-4a2f96498695
            input_tokens:
              type: number
              example: 105
            output_tokens:
              type: number
              example: 7
        intents_info:
          type: object
          properties:
            model_uuid:
              type: string
              example: 80ab3179-d113-4254-bd6b-4a2f96498695
            input_tokens:
              type: number
              example: 105
            output_tokens:
              type: number
              example: 4
        tags:
          type: array
          items:
            type: string
            example: test
    channels:
      type: array
      items:
        type: object
        properties:
          search:
            type: array
            items:
              type: object
              properties:
                query:
                  type: string
                hits:
                  type: array
                  items:
                    type: object
                    properties:
                      confidence:
                        type: number
                        format: float
                      start:
                        type: number
                        format: float
                      end:
                        type: number
                        format: float
                      snippet:
                        type: string
          alternatives:
            type: array
            items:
              type: object
              properties:
                transcript:
                  type: string
                confidence:
                  type: number
                  format: float
                words:
                  type: array
                  items:
                    type: object
                    properties:
                      word:
                        type: string
                      start:
                        type: number
                        format: float
                      end:
                        type: number
                        format: float
                      confidence:
                        type: number
                        format: float
                paragraphs:
                  type: object
                  properties:
                    transcript:
                      type: string
                    paragraphs:
                      type: array
                      items:
                        type: object
                        properties:
                          sentences:
                            type: array
                            items:
                              type: object
                              properties:
                                text:
                                  type: string
                                start:
                                  type: number
                                  format: float
                                end:
                                  type: number
                                  format: float
                          speaker:
                            type: integer
                            format: int32
                          num_words:
                            type: integer
                            format: int32
                          start:
                            type: number
                            format: float
                          end:
                            type: number
                            format: float
                summaries:
                  type: array
                  items:
                    type: object
                    properties:
                      summary:
                        type: string
                      start_word:
                        type: integer
                        format: int32
                      end_word:
                        type: integer
                        format: int32
                topics:
                  type: array
                  items:
                    type: object
                    properties:
                      text:
                        type: string
                      start_word:
                        type: integer
                        format: int32
                      end_word:
                        type: integer
                        format: int32
                      topics:
                        type: array
                        items:
                          type: string
          detected_language:
            type: string
    utterances:
      type: array
      items:
        type: object
        properties:
          start:
            type: number
            format: float
          end:
            type: number
            format: float
          confidence:
            type: number
            format: float
          channel:
            type: integer
            format: int32
          transcript:
            type: string
          words:
            type: array
            items:
              type: object
              properties:
                word:
                  type: string
                start:
                  type: number
                  format: float
                end:
                  type: number
                  format: float
                confidence:
                  type: number
                  format: float
                speaker:
                  type: integer
                  format: int32
                speaker_confidence:
                  type: integer
                  format: int32
                punctuated_word:
                  type: string
          speaker:
            type: integer
            format: int32
          id:
            type: string
            format: uuid
    summary:
      type: object
      properties:
        result:
          type: string
          example: success
        short:
          type: string
          example: Speaker 0 discusses the significance of the first all-female spacewalk with an all-female team, stating that it is a tribute to the skilled and qualified women who were denied opportunities in the past.
    topics:
      type: object
      description: Output whenever `topics=true` is used
      properties:
        segments:
          type: array
          items:
            - type: object
              properties:
                text:
                  type: string
                  example: And, um, I think if it signifies anything, it is, uh, to honor the the women who came before us who, um, were skilled and qualified, um, and didn't get the the same opportunities that we have today.
                start_word:
                  type: number
                  example: 32
                end_word:
                  type: number
                  example: 69
                topics:
                  type: array
                  items:
                    - type: object
                      properties:
                        topic:
                          type: string
                          example: Spacewalk
                        confidence_score:
                          type: number
                          example: 0.91581345
                  example:
                    - topic: Spacewalk
                      confidence_score: 0.91581345
                    - topic: Women's skill and qualifications
                      confidence_score: 0.00075203663
    intents:
      type: object
      description: Output whenever `intents=true` is used
      properties:
        segments:
          type: array
          items:
            - type: object
              properties:
                text:
                  type: string
                  example: And, um, I think if it signifies anything, it is, uh, to honor the the women who came before us who, um, were skilled and qualified, um, and didn't get the the same opportunities that we have today.
                start_word:
                  type: number
                  example: 32
                end_word:
                  type: number
                  example: 69
                intents:
                  type: array
                  items:
                    - type: object
                      properties:
                        intent:
                          type: string
                          example: Honor women and recognize women
                        confidence_score:
                          type: number
                          example: 0.0037266621
                  example:
                    - intent: Honor women and recognize women
                      confidence_score: 0.0037266621
    sentiments:
      type: object
      description: Output whenever `sentiment=true` is used
      properties:
        segments:
          type: array
          items:
            - type: object
              properties:
                text:
                  type: string
                  example: Yeah. As as much as, um, it's worth celebrating, uh, the first, uh, spacewalk, um, with an all-female team, I think many of us are looking forward to it just being normal. And, um, I think if it signifies anything, it is, uh, to honor the the women who came before us who, um, were skilled and qualified, um, and didn't get the the same opportunities that we have today.
                start_word:
                  type: number
                  example: 0
                end_word:
                  type: number
                  example: 69
                sentiment:
                  type: string
                  example: positive
                sentiment_score:
                  type: number
                  example: 0.5810546875
        average:
          type: object
          properties:
            sentiment:
              type: string
              example: positive
            sentiment_score:
              type: number
              example: 0.5810185185185185
    results:
      required:
        - channels
      type: object
      properties:
        channels:
          $ref: '#/components/schemas/channels'
        utterances:
          $ref: '#/components/schemas/utterances'
        summary:
          $ref: '#/components/schemas/summary'
        topics:
          $ref: '#/components/schemas/topics'
        intents:
          $ref: '#/components/schemas/intents'
        sentiments:
          $ref: '#/components/schemas/sentiments'
    response:
      description: The standard transcription response
      required:
        - metadata
        - results
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/metadata'
          x-collapse: true
        results:
          $ref: '#/components/schemas/results'
    text_metadata:
      required:
        - request_id
        - created
        - language
        - summary_info
        - sentiment_info
        - topics_info
        - intents_info
      type: object
      properties:
        metadata:
          type: object
          properties:
            request_id:
              type: string
              format: uuid
              example: d04af392-db11-4c1d-83e1-20e34f0b8999
            created:
              type: string
              format: date-time
              example: '2024-11-18T23:47:44.674Z'
            language:
              type: string
              example: en
            summary_info:
              type: object
              properties:
                model_uuid:
                  type: string
                  format: uuid
                input_tokens:
                  type: integer
                output_tokens:
                  type: integer
            sentiment_info:
              type: object
              properties:
                model_uuid:
                  type: string
                  format: uuid
                input_tokens:
                  type: integer
                output_tokens:
                  type: integer
            topics_info:
              type: object
              properties:
                model_uuid:
                  type: string
                  format: uuid
                input_tokens:
                  type: integer
                output_tokens:
                  type: integer
            intents_info:
              type: object
              properties:
                model_uuid:
                  type: string
                  format: uuid
                input_tokens:
                  type: integer
                output_tokens:
                  type: integer
    text_summary:
      summary:
        type: object
        description: Output whenever `summary=true` is used
        properties:
          results:
            type: object
            properties:
              summary:
                type: object
                properties:
                  text: null
                  type: string
                  example: The summary of the text submitted.
    text_results:
      type: object
      properties:
        summary:
          $ref: '#/components/schemas/text_summary'
        topics:
          $ref: '#/components/schemas/topics'
        intents:
          $ref: '#/components/schemas/intents'
        sentiments:
          $ref: '#/components/schemas/sentiments'
    text_response:
      description: The standard text response
      required:
        - metadata
        - results
      type: object
      properties:
        metadata:
          $ref: '#/components/schemas/text_metadata'
          x-collapse: true
        results:
          $ref: '#/components/schemas/text_results'
    stt_models:
      type: array
      items:
        type: object
        properties:
          name:
            type: string
            example: conversationalai
          canonical_name:
            type: string
            example: conversationalai
          architecture:
            type: string
            example: base
          languages:
            type: array
            items:
              type: string
              example:
                - en
                - en-us
          version:
            type: string
            example: 2021-11-10.1
          uuid:
            type: string
            example: 6b28e919-8427-4f32-9847-492e2efd7daf
          batch:
            type: boolean
            example: true
          streaming:
            type: boolean
            example: true
          formatted_output:
            type: boolean
            example: true
    tts_models:
      type: array
      items:
        type: object
        properties:
          name:
            type: string
            example: zeus
          canonical_name:
            type: string
            example: aura-zeus-en
          architecture:
            type: string
            example: aura
          languages:
            type: array
            items:
              type: string
              example:
                - en
                - en-us
          version:
            type: string
            example: 2024-07-30.0
          uuid:
            type: string
            example: 9c28bce5-f144-4d32-9034-843aa7aed63e
          metadata:
            type: object
            properties:
              accent:
                type: string
                example: American
              color:
                type: string
                example: '#949498'
              image:
                type: string
                example: https://static.deepgram.com/examples/avatars/zeus.jpg
              sample:
                type: string
                example: https://static.deepgram.com/examples/voices/zeus.wav
              tags:
                type: array
                items:
                  type: string
                  example:
                    - masculine
                    - neutral
  responses:
    bad_request:
      components:
        responses:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  err_code:
                    type: string
                    description: The error code
                  err_msg:
                    type: string
                    description: The error message
                  request_id:
                    type: string
                    description: The request ID
                example:
                  err_code: INVALID_QUERY_PARAMETER
                  err_msg: Failed to deserialize query parameters...
                  request_id: 123456-7890-1234-5678-901234
    insufficient_permissions:
      components:
        responses: null
        description: Insufficient permissions, Model not found
        content:
          application/json:
            schema: null
            type: object
            properties:
              err_code:
                type: string
                description: The error code
              err_msg:
                type: string
                description: The error message
              request_id:
                type: string
                description: The request ID
            example:
              err_code: INSUFFICIENT_PERMISSIONS
              err_msg: Project does not have access to the requested model.
              request_id: 123456-7890-1234-5678-901234
    payload_too_large:
      components:
        responses: null
        description: Payload too large
        content:
          application/json:
            schema: null
            type: object
            properties:
              err_code:
                type: string
                description: The error code
              err_msg:
                type: string
                description: The error message
              request_id:
                type: string
                description: The request ID
            example:
              err_code: Payload too large
              err_msg: Input text exceeds maximum character limit of 2000.
              request_id: 123456-7890-1234-5678-901234
    unsupported_media_type:
      components:
        responses: null
        description: Unsupported media type
        content:
          application/json:
            schema: null
            type: object
            properties:
              err_code:
                type: string
                description: The error code
              err_msg:
                type: string
                description: The error message
              request_id:
                type: string
                description: The request ID
            example:
              err_code: UNSUPPORTED_MEDIA_TYPE
              err_msg: Content-Type header is not supported. Content-Type must be either text/plain or application/json."
              request_id: 123456-7890-1234-5678-901234
    projects_bad_request:
      components:
        responses:
          description: Bad Request
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    type: string
                    description: The error category
                  message:
                    type: string
                    description: The error message
                  details:
                    type: string
                    description: Additional details about the error
                  request_id:
                    type: string
                    description: The request ID
                example:
                  category: INVALID_JSON
                  message: Invalid JSON submitted.
                  details: 'Json deserialize error: EOF while parsing a value at line 1 column 0'
                  request_id: 123456-7890-1234-5678-901234
    authentication_failed:
      components:
        responses:
          authenticationFailed:
            description: Authentication failed
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    category:
                      type: string
                      description: The category of the error
                    message:
                      type: string
                      description: A message about the error
                    details:
                      type: string
                      description: A description of the error
                    request_id:
                      type: string
                      description: The unique identifier of the request
                example:
                  category: UNAUTHORIZED
                  message: Authentication failed.
                  details: Check that you are using the correct credentials.
                  request_id: 123456-7890-1234-5678-901234
    project_not_found:
      components:
        responses:
          description: Project not found
          content:
            application/json:
              schema:
                type: object
                properties:
                  category:
                    type: string
                    description: The category of the error
                  details:
                    type: string
                    description: A description of the error
                  message:
                    type: string
                    description: A message about the error
                  request_id:
                    type: string
                    description: The unique identifier of the request
              example:
                category: NOT_FOUND
                message: A project with the submitted ID cannot be found.
                details: Check that you have submitted the intended project ID and that the project has not been deleted.
                request_id: 123456-7890-1234-5678-901234
    invalid_request:
      components:
        responses:
          description: Invalid Request
          content:
            text/plain:
              schema:
                type: string
              example: 'Invalid request: scope must be either ''member'', ''admin'' or ''owner''.'
    unauthorized:
      components:
        responses:
          description: Unauthorized
          content:
            text/plain:
              schema:
                type: string
              example: User does not have sufficient permissions.
    fields:
      components:
        responses:
          description: A list of fields for a specific project
          content:
            application/json:
              schema:
                type: object
                properties:
                  tags:
                    type: array
                    description: List of tags associated with the project
                items:
                  type: string
                example:
                  - tag1
                  - tag2
              models:
                type: array
                description: List of models available for the project.
                items:
                  type: object
                  properties:
                    name:
                      type: string
                      description: Name of the model.
                      example: 2-medical-nova
                    language:
                      type: string
                      description: The language supported by the model (IETF language tag).
                      example: en-MY
                    version:
                      type: string
                      description: Version identifier of the model, typically with a date and a revision number.
                      example: 2024-05-31.13574
                    model_id:
                      type: string
                      description: Unique identifier for the model.
                      example: 1234567890-12345-67890
              processing_methods:
                type: array
                description: Processing methods supported by the API
                items:
                  type: string
                example:
                  - sync
                  - streaming
              features:
                type: array
                description: API features available to the project
                items:
                  type: string
                example:
                  - alternatives
                  - detect_entities
                  - detect_language
    all_models:
      components:
        responses:
          '200':
            description: A list of all public models
            content:
              application/json:
                schema:
                  type: object
                  properties:
                    stt:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            example: general
                          canonical_name:
                            type: string
                            example: enhanced-general
                          architecture:
                            type: string
                            example: polaris
                          languages:
                            type: array
                            items:
                              type: string
                            example:
                              - en
                              - en-us
                          version:
                            type: string
                            example: 2022-05-18.1
                          uuid:
                            type: string
                            format: uuid
                            example: c7226e9e-ae1c-4057-ae2a-a71a6b0dc588
                          batch:
                            type: boolean
                            example: true
                          streaming:
                            type: boolean
                            example: true
                          formatted_output:
                            type: boolean
                            example: false
                    tts:
                      type: array
                      items:
                        type: object
                        properties:
                          name:
                            type: string
                            example: angus
                          canonical_name:
                            type: string
                            example: aura-angus-en
                          architecture:
                            type: string
                            example: aura
                          languages:
                            type: array
                            items:
                              type: string
                            example:
                              - en
                          version:
                            type: string
                            example: 2024-07-30.0
                          uuid:
                            type: string
                            format: uuid
                            example: eed36e9e-37aa-40a3-91fa-a2911e73a5da
                          metadata:
                            type: object
                            properties:
                              accent:
                                type: string
                                example: Irish
                              color:
                                type: string
                                example: '#BA80F5'
                              image:
                                type: string
                                format: uri
                                example: https://static.deepgram.com/examples/avatars/angus.jpg
                              sample:
                                type: string
                                format: uri
                                example: https://static.deepgram.com/examples/voices/angus.wav
                              tags:
                                type: array
                                items:
                                  type: string
                                example:
                                  - masculine
    credentials:
      components:
        responses:
          description: List of distribution credentials
          content:
            application/json:
              schema:
                type: object
                properties:
                  distribution_credentials:
                    type: array
                    description: Array of distribution credentials with associated member information
                    items:
                      type: object
                      required:
                        - member
                        - distribution_credentials
                      properties:
                        member:
                          type: object
[...]
